.hero{

    background-image: url("../../../../public/images/baner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 88vh;
    width: 100%;

}

.hero .container {
    padding-top: 12%;

}

.hero p {
    font-size: 20px;
}


form {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}

form input{
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128,128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

form span {

    font-size : 14px;
    color : grey;
}


input::placeholder{
    font-size: 17px;

}

form .box{
    padding:10px;
    border-left : 1px solid rgba(123, 128, 128, 0.2);

}

form .box:nth-child(1){
    border : none;
}


@media screen and (max-width: 768px){
    .hero .container{
        padding-top: 8%;
    }

    .hero h1 {
        font-size: 60px;
        line-height: 4rem;
    }


    form {
        display:flex;
        flex-wrap: wrap;
        z-index: 9999 !important;
    }

    form .box{
        border-left: none;
    }

    form input{
        width: 100%;
    }
}